/** button select for toolbar */
.claro .dijitToolbar .gformButtonSelect .dijitButton .dijitButtonNode {
	-moz-border-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

}

.gformButtonSelect {
	margin-left: 5px;
}

.dijitToolbar .gformButtonSelect .dijitButtonContents {
	padding-top:0px;
}

.gformLink a {
	color: #000000;
	text-decoration: none;
}

.gformSchemaPreviewer > div {
	border: 1px #b5bcc7 solid
}

#mainContainer {
	padding:5px;
	width:100%;
	height:100%;
}




